.hidden {
  display: none;
}

div {
	margin-bottom: 20px;
}


textarea{
	vertical-align: top;
	height: 100px;
}

label {
	display: inline-block;
	float: left;
	clear: left;
	width: 150px;
	
}

input[type=text], textarea {
	display: inline-block;
	float: left;
	width: 250px;
	margin-bottom: 20px;
}

.clearfix:after {
	display: block;
	clear: both;
	content: "";
}