.hidden {
  display: none;
}


#container {
      background-color: lightblue;
      height: 250px;
      width: 30%;
      padding-left: 5px;
        }

input {
margin-bottom: 20px;
}

h4 {
  text-align: center;
  padding-top: 5px;
}